---
import HtmlHead from '../components/HtmlHead.astro';
import PageHeader from '../components/PageHeader.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import Footer from '../components/Footer.astro';
import { sortTopProjects } from 'src/util';

const maxProjects = 6;
let title =
  'Works from the Interaction Design Bachelor programme in Malmö, Sweden';
let permalink = 'https://arkixd.se/';
let description = '';
// Data Fetching: List all Markdown posts in the repo.

let allProjects = await Astro.glob('./projects/**/*.mdx');
// allProjects = allProjects
//   .sort(
//     (a, b) =>
//       new Date(b.frontmatter.year).valueOf() -
//       new Date(a.frontmatter.year).valueOf()
//   )
//   .slice(0, maxProjects);
allProjects = sortTopProjects(allProjects, maxProjects);
---

<html lang="en">
  <head>
    <HtmlHead {title} {description} {permalink} />
  </head>
  <body>
    <PageHeader />
    <div class="container">
      <div class="wrapper">
        <section class="intro">
          <h1>{title}</h1>
          <p>{description}</p>
        </section>
      </div>
    </div>
    <section class="wrap-list" aria-label="Recent project list">
      {allProjects.map((p) => <ProjectPreview project={p} />)}
    </section>
    <Footer />
  </body>
</html>
