---
import { CollectionEntry } from 'astro:content';
import YouTube from './YouTube.astro';
import { getImage, Image } from 'astro:assets';

export interface Props {
  project: CollectionEntry<'exhibition-content'>;
}

const { project } = Astro.props;
const { Content } = await project.render();

const d = project.data;
const additionalImages = d.additionalImages ?? [];
---

<article>
  <header>
    <h2 class="creators">{d.creators}</h2>
    <h1 class="title">{d.title}</h1>
  </header>
  <div class="content">
    <div class="img">
      <Image alt="Project image" src={d.image} />
    </div>
    <div class="description">
      <Content />
    </div>
  </div>
  <div class="appendices">
    {d.youtubeID && <YouTube id={d.youtubeID} />}
    {additionalImages.map((g) => <Image alt="Project image" src={g} />)}
  </div>
  <a class="invis" href="#top">↑</a>
</article>

<style>
  .invis,
  .invis:visited,
  .invis:hover {
    color: var(--theme-text);
    text-decoration: none;
  }
  .appendices {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .appendices img {
    max-width: 90%;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: 4px solid var(--theme-divider);
  }
  .content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1em;
  }

  .description {
    max-width: 50vw;
  }
  @media (max-width: 500px) {
    .content {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .img {
      width: 100%;
    }
    .description {
      max-width: 100%;
    }
  }

  .content img {
    contain: layout;
    width: 100%;
  }

  header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  header h2 {
    margin: 0;
    font-size: 1em;
  }
  header h1 {
    font-weight: 400;
    font-size: 1.6em;
    margin-bottom: 0.5em;
  }
  .title,
  .creators {
    margin: 0;
  }

  .creators {
    font-size: 1.25rem;
    color: var(--theme-text-lighter);
    text-transform: uppercase;
  }

  .title {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
  }
</style>
