---
import { CollectionEntry } from 'astro:content';
import BackgroundImage from './BackgroundImage.astro';
import { getImage } from 'astro:assets';
export interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const d = project;
const image = await getImage(project.data.image, {});
const url = `/projects/${project.slug}`;

const onclick = `location.href='${url}';`;
const style = `background-image:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 115, 142, 1)), ${image.src}`;

const { course, subTitle, title } = d.data;
const creators = d.data.creators ?? '';

const manyCreators =
  creators.indexOf(',') > 0 ||
  (Array.isArray(creators) && creators.length > 1) ||
  (typeof creators === 'string' && creators.length === 0);
const preTitle = manyCreators ? course : creators;
---

<article onclick={onclick}>
  <BackgroundImage url={image.src}>
    <header>
      {preTitle && <p class="preTitle">{preTitle}</p>}
      <a href={url}><h1 class="title">{title}</h1></a>
      {subTitle && <h2 class="subTitle">{subTitle}</h2>}
    </header>
  </BackgroundImage>
</article>

<style>
  article {
    display: inline-block;
    flex-grow: 1;
    cursor: pointer;
    height: 20vh;
    min-height: 20em;
    width: 100%;
  }

  @media (max-width: 600px) {
    article {
      min-width: 100%;
    }
  }

  header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 100%;
  }

  .title,
  .preTitle,
  .subTitle {
    background: var(--color-black);
    color: var(--color-white);
    padding: 0.4rem;
    margin: 0;
  }

  .preTitle {
    padding-bottom: 0;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
  }

  .subTitle {
    font-size: 1rem;
  }
</style>
