---
import HtmlHead from '../components/HtmlHead.astro';
import PageHeader from '../components/PageHeader.astro';
import Footer from '../components/Footer.astro';
import { ProjectMetadata } from 'src/components/ProjectMetadata';
import BackgroundImage from '../components/BackgroundImage.astro';
export interface Props {
  frontmatter?: ProjectMetadata;
}

const p = Astro.props.frontmatter || Astro.props;
const tags = p.tags
  ? `Tags: <ul class="inline">${p.tags
      .map((tag) => `<li><a href="/tags/${tag}">${tag}</a></li>`)
      .join(``)}</ul>`
  : ``;
---

<html lang="en">
  <head>
    <HtmlHead {p.title} />
  </head>

  <body>
    <div class="bleed">
      <BackgroundImage url={p.image}>
        <PageHeader />
        <div class="container">
          <div class="wrapper project">
            <h2>{p.creators}</h2>
            <h1>{p.title}</h1>
            {p.subTitle ? <h3>{p.subTitle}</h3> : ``}
          </div>
        </div>
      </BackgroundImage>
    </div>
    <div class="container">
      <div class="wrapper">
        <slot />
        <div class="meta">
          <Fragment set:html={tags} />
          <p>
            {p.year}, {p.course} ({p.yearLevel} year)
          </p>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
